/* CSS declarations go here */

* {font-family: Verdana;}

body {
    width: 800px;
}

.dataExplorerControlPanel {
    margin: 10px;
    padding: 2px;
    border: solid gray 1px;
    border-radius: 15px;
    text-align:center; 
}

.dataExplorerControlPanel button {
    margin: 5px;
}
.dataExplorerControlPanel select {
    margin: 5px;
}
