/* CSS declarations go here */

* {font-family: Verdana;}

body {
    width: 800px;
}
.panel, .intro {
    border-radius: 15px !important;
    box-shadow: -1px -1px 0 #c0c0c0,1px 1px 0 #c0c0c0,0 5px 15px rgba(0,0,0,0.4);
}

.panel-heading, .panel-title {
    background-color: rgba(245,245,245,0.0) !important;
    border-bottom-width: 0;
}
.panel-heading > .panel-title {
    background: url("fusion/triangle_closed.png") no-repeat right top;
    background-size: 15px 15px;
}

.panel-heading[aria-expanded="true"]  > .panel-title {
    background: url("fusion/triangle_open.png") no-repeat right top;
    background-size: 15px 15px;
}

.panel-title[aria-expanded="true"] {
    background: url("fusion/triangle_open.png") no-repeat right top;
    background-size: 15px 15px;
}


.panel-body .collapse {
    background:rgba(245,245,245,0.0) !important;
}


.dataExplorerControlPanel {
    margin: 10px;
    padding: 2px;
    border: solid gray 1px;
    border-radius: 15px;
}

.dataExplorerControlPanel button {
    margin: 5px;
}
.dataExplorerControlPanel select {
    margin: 5px;
}

.genelist {
   width: 400px;
}

.inspect {
   cursor :pointer;
   text-decoration: underline;
}

.includeThisGene {
    background: blue;
}
