<template name="testoverlay">
    <div>
       <H2>Testing overlay content</H2>
       This is just a test
    </div>
</template>

<template name="MasterLayout">
    <div class="container-fluid">
		<table class="table table-bordered">
		    <tbody>
		        <tr>
                            <td>
                            <div style="background-color:white;border-radius:5px;padding:20px;margin: 10px!important;width:300px;">
                                {{> MedBookNavigator }}
                            </div>
                            </td>
		            <td>
						<div class="studies-panel">
			 Study:
                         <!--
			{{#with studies}}
				<select id="study" class="span1-12">
					<option value="">Select a Study ...</option>
					{{#each this}}
					<option  value="{{id}}" selected={{selected}}>{{short_name}}</option>
					{{/each}}
				</select>
			{{else}}
				No studies yet.
			{{/with}}
                        -->
			<button class="nuc">Reset</button>
			
		</div>
				</td>
				<td>
					
				 	<div id="contrast1" width=200>
                        <!--
						Contrast {{> Contrast}}
                        -->
					</div>
				</td>
				<td>
					{{#if currentUser}}
					User: {{ currentUser.username }} Member of: {{member}} <button class="logout btn">Logout</button>
					{{else}}
					Not Logged in {{> loginButtons}}
					{{/if}}
				</td>
		        </tr>
		    </tbody>
		</table>
		{{#if currentUser}} 
		<ul class="nav nav-tabs" role="tablist">
		</ul>
		<div >
			{{> yield}}
		</div>
		{{/if}}
                <div class="overlay hidden" >
                    <div id="overlayControl">
                        <div id="overlayPanel" class="white_content"> 
                            <a id="overlayClose" class="btn btn-primary btn-lg pull-right" href="#"><i class="fa fa-times"></i></a>
                            <br>
                            <div id="overlayContent" class="white_content"> </div>
                        </div>
                    </div>
                    <button type="button" class="overlayClose" data-dismiss="alert">&times;</button>
                </div>
    </div>

</template>
