#pvalue-block-loc {
    width: 100%;
    text-align: center;
}
#pvalue-block {
    width: 50%;
    display: inline-block;
}
#pvalue-range-labels {
    position: relative;
    width: 100%;
    height: 40px;
}
#pvalue-range-labels label {
    position: absolute;
    font-size: 9pt;
    font-weight: normal;
}
