/*****************************************************************************/
/* MasterLayout: Style */
/*****************************************************************************/
.tab-content {
    background: #ffffff;
    padding: 10px 25px;
    margin-top: -20px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-top-color: transparent;
}

.nav > li > a, .nav > li > a {
    background-color: #eeeeee;
}

.overlay {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index:50;
  background-color: rgba(0,0,0,0.5);
}

.overlay-dalog {
  background-color: white;
}

#overlayPanel {
    z-index:1002;
    -moz-opacity: 1.0;
    opacity:1.0;
    filter: alpha(opacity=100);
    display:block;
    position: absolute;
    top: 4px;
    left: 25%;
    width: 960px;
    height: 1000px;
    padding: 4px 16px 16px 16px;
    border: 1px solid orange;
    background-color: white;
    overflow: scroll;
    overflow-y:scroll;
}
#overlayContent {
    padding: 16 16px 16px 16px;
}
